<a href="https://colab.research.google.com/github/abidshafee/Deep-Learning-TF/blob/main/bitcoin_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mocking: https://youtu.be/GFSiL6zEZF0

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader as web
import datetime as dt

In [2]:
# libraries for ML Modeling
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.layers import Dense, Dropout, LSTM
from tensorflow.keras.models import Sequential

In [5]:
# for bitcoin ticker symbol: BTC
cryptocurrency = 'BTC'
price_in_usd = 'USD'

In [6]:
starting_from = dt.datetime(2011,1,1)
end = dt.datetime.now()

In [8]:
df = web.DataReader(f'{cryptocurrency}-{price_in_usd}', 'yahoo', starting_from, end)

In [9]:
df

                    High           Low  ...        Volume     Adj Close
Date                                    ...
2014-09-16    468.174011    452.421997  ...  2.105680e+07    457.334015
2014-09-17    456.859985    413.104004  ...  3.448320e+07    424.440002
2014-09-18    427.834991    384.532013  ...  3.791970e+07    394.795990
2014-09-19    423.295990    389.882996  ...  3.686360e+07    408.903992
2014-09-20    412.425995    393.181000  ...  2.658010e+07    398.821014
...                  ...           ...  ...           ...           ...
2021-04-21  55410.230469  50583.812500  ...  7.479863e+10  51762.273438
2021-04-22  52120.792969  47714.664062  ...  8.666867e+10  51093.652344
2021-04-23  51167.562500  48805.285156  ...  4.901449e+10  50050.867188
2021-04-24  50506.019531  47159.484375  ...  4.611711e+10  49004.253906
2021-04-26  53473.253906  48956.652344  ...  5.892108e+10  53221.335938

[2410 rows x 6 columns]