<a href="https://colab.research.google.com/github/abidshafee/Deep-Learning-TF/blob/main/bitcoin_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mocking: https://youtu.be/GFSiL6zEZF0

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader as web
import datetime as dt

In [2]:
# libraries for ML Modeling
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.layers import Dense, Dropout, LSTM
from tensorflow.keras.models import Sequential

In [5]:
# for bitcoin ticker symbol: BTC
cryptocurrency = 'BTC'
price_in_usd = 'USD'

In [6]:
starting_from = dt.datetime(2011,1,1)
end = dt.datetime.now()

In [11]:
# reading data from yahoo finance api
df = web.DataReader(f'{cryptocurrency}-{price_in_usd}', 'yahoo', starting_from, end)

In [12]:
df.head()

                  High         Low  ...      Volume   Adj Close
Date                                ...
2014-09-16  468.174011  452.421997  ...  21056800.0  457.334015
2014-09-17  456.859985  413.104004  ...  34483200.0  424.440002
2014-09-18  427.834991  384.532013  ...  37919700.0  394.795990
2014-09-19  423.295990  389.882996  ...  36863600.0  408.903992
2014-09-20  412.425995  393.181000  ...  26580100.0  398.821014

[5 rows x 6 columns]

We are going to predict the **closing price** of this dataset

In [13]:
df.describe(include='all')

               High           Low  ...        Volume     Adj Close
count   2410.000000   2410.000000  ...  2.410000e+03   2410.000000
mean    7174.184216   6775.281155  ...  1.184997e+10   7000.288043
std    10880.135592  10193.510295  ...  1.880499e+10  10592.678323
min      211.731003    171.509995  ...  5.914570e+06    178.102997
25%      460.849991    451.166763  ...  6.778000e+07    455.670258
50%     4258.724854   4022.102661  ...  3.820230e+09   4141.202393
75%     9212.655518   8804.000732  ...  1.785064e+10   9000.924805
max    64863.097656  62208.964844  ...  3.509679e+11  63503.457031

[8 rows x 6 columns]

Scaling data into sandard deviation range

In [21]:
df['Close']

Date
2014-09-16      457.334015
2014-09-17      424.440002
2014-09-18      394.795990
2014-09-19      408.903992
2014-09-20      398.821014
                  ...
2021-04-21    51762.273438
2021-04-22    51093.652344
2021-04-23    50050.867188
2021-04-24    49004.253906
2021-04-26    53393.511719
Name: Close, Length: 2410, dtype: float64

In [18]:
scale = StandardScaler()
scaled_data = scale.fit_transform(df['Close'].values.reshape(-1, 1))

In [20]:
len(scaled_data)

2410