<a href="https://colab.research.google.com/github/abidshafee/Deep-Learning-TF/blob/main/bitcoin_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mocking: https://youtu.be/GFSiL6zEZF0 \
https://youtu.be/QIUxPv5PJOY

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader as web
import datetime as dt

In [ ]:
# libraries for ML Modeling
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.layers import Dense, Dropout, LSTM
from tensorflow.keras.models import Sequential

In [ ]:
# for bitcoin ticker symbol: BTC
cryptocurrency = 'BTC'
price_in_usd = 'USD'

In [ ]:
starting_from = dt.datetime(2011,1,1)
end = dt.datetime.now()
print(end)

2021-04-26 12:09:19.010778

In [ ]:
# reading data from yahoo finance api
#df = web.DataReader(f'{cryptocurrency}-{price_in_usd}', 'yahoo', starting_from, end)

#Or we can say
df = web.DataReader('BTC-USD', data_source='yahoo', start=starting_from, end=end)
# ticker for BTC price in USD: BTC-USD

In [ ]:
df

                    High           Low  ...        Volume     Adj Close
Date                                    ...
2014-09-16    468.174011    452.421997  ...  2.105680e+07    457.334015
2014-09-17    456.859985    413.104004  ...  3.448320e+07    424.440002
2014-09-18    427.834991    384.532013  ...  3.791970e+07    394.795990
2014-09-19    423.295990    389.882996  ...  3.686360e+07    408.903992
2014-09-20    412.425995    393.181000  ...  2.658010e+07    398.821014
...                  ...           ...  ...           ...           ...
2021-04-21  55410.230469  50583.812500  ...  7.479863e+10  51762.273438
2021-04-22  52120.792969  47714.664062  ...  8.666867e+10  51093.652344
2021-04-23  51167.562500  48805.285156  ...  4.901449e+10  50050.867188
2021-04-24  50506.019531  47159.484375  ...  4.611711e+10  49004.253906
2021-04-26  53764.992188  48956.652344  ...  5.973888e+10  53641.273438

[2410 rows x 6 columns]

We are going to predict the **closing price** of this dataset

In [ ]:
df.describe(include='all')

               High           Low  ...        Volume     Adj Close
count   2410.000000   2410.000000  ...  2.410000e+03   2410.000000
mean    7174.305270   6775.281155  ...  1.185029e+10   7000.390849
std    10880.652543  10193.510295  ...  1.880578e+10  10593.129966
min      211.731003    171.509995  ...  5.914570e+06    178.102997
25%      460.849991    451.166763  ...  6.778000e+07    455.670258
50%     4258.724854   4022.102661  ...  3.820230e+09   4141.202393
75%     9212.655518   8804.000732  ...  1.785064e+10   9000.924805
max    64863.097656  62208.964844  ...  3.509679e+11  63503.457031

[8 rows x 6 columns]

Scaling data into sandard deviation range

In [ ]:
df['Close']

Date
2014-09-16      457.334015
2014-09-17      424.440002
2014-09-18      394.795990
2014-09-19      408.903992
2014-09-20      398.821014
                  ...
2021-04-21    51762.273438
2021-04-22    51093.652344
2021-04-23    50050.867188
2021-04-24    49004.253906
2021-04-26    53641.273438
Name: Close, Length: 2410, dtype: float64

In [ ]:
scale = StandardScaler()
#Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.
#reshape(1, -1) if it contains a single sample.
scaled_data = scale.fit_transform(df['Close'].values.reshape(-1,1))

In [ ]:
len(scaled_data)

2410

In [ ]:
scaled_data

array([[-0.61779802],
       [-0.62090389],
       [-0.62370289],
       ...,
       [ 4.06484305],
       [ 3.96602141],
       [ 4.40385064]])

## **To replace multiple values in a column with single values**:
let say we want to replace value-1, value-2, and value-3 from the column-3 with the value: 'replaced_value', So the following code will do that:
```
values = ['value-1', 'value-2', 'value-3']
for val in values:
    df['column-3'].replace(to_replace=val,
                           value = 'replaced_value',
                           inplace = True)

```
To learn more data analysis techniques read our blog:
https://csschoolonline.xyz/data-science/
see other parameters supported by -
pandas.DataFrame.replace>>
https://pandas.pydata.org/.../pandas.DataFrame.replace.html